<footer class="footer c_header__inner c_header__left" >
  <small>
    <strong><a href="http://www.mashrurhossain.com/">Matacode Development Training</a></strong>
    by <em><a href="http://www.mashrurhossain.com/">Vuong Tin Phong</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>