<div class="c_header">
  <div class="c_header__inner">
    <h4>
      <%= link_to "MyRecipes", root_path, class:"c_header__logo-wrap" %>
    </h4>
    <div class="c_header__left">
        <div id="dropdownButton" class="dropdown dropdown--topics" >
          <h4>
            <%= link_to "Create new recipe", new_recipe_path %>
          </h4>
        </div>
    </div>
  </div>
</div>


