<div class="course-cards-grid" >
  <div class="jumbotron jumbotron-header-bar jumbotron-header-bar--tabs bg-red-force">
    <div class="container">
      <div class="jumbotron-header-bar__inner">
        <div>
          <h1>My Course</h1>
        </div>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li><%= link_to "All Recipes", recipes_path %></li>
        <li><%= link_to "Resource", recipes_path %></li>
        <li><%= link_to "Archieved", recipes_path %></li>
        <li><%= link_to "Schedule", recipes_path %></li>
      </ul>
    </div>
  </div>
</div>